:root {
  --popup-bg: #444;
  --borger-color: #999;
  --progress-bar: rgb(243, 135, 11);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Merriweather", serif;
}

.container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.needed-amount {
  background: var(--popup-bg);
  border-radius: 5px;
  color: #eee;
  position: relative;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}
#amount-required {
  color: #fff;
  font-weight: bold;
}
/* arrow down */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 12px solid var(--popup-bg);
  position: absolute;
  bottom: -11px;
  left: calc(50% - 12px);
}
/* progress bar */
.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid var(--borger-color);
  margin-bottom: 0;
}
.progress {
  background: var(--progress-bar);
  height: 18px;
  width: 0%;
}
.form-container {
  border: 1px solid var(--borger-color);
  border-top: none;
  width: 100%;
}
form {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--borger-color);
}
form p {
  margin: 10px 0 15px;
  line-height: 1.5;
}
.time-left {
  color: var(--progress-bar);
}
.donors {
  font-weight: 900;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.input-container input {
  height: 100%;
  padding: 5px 0px 5px 15px;
  font-size: 20px;
  font-weight: bold;
  width: 45%;
  border: 1px solid var(--borger-color);
  outline: none;
  border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.donate-btn {
  height: 100%;
  width: 45%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(41, 207, 41);
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}
.details {
  width: 35%;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
  height: auto;
  margin: 15px 0;
  color: rgb(67, 150, 228);
}
.btns {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.btn {
  width: 47%;
  border: 1px solid var(--borger-color);
  border-radius: 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #666;
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 300px) {
  .input-container {
    flex-direction: column;
  }
  .input-container input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
  }
  .input-container .donate-btn {
    width: 100%;
    height: 40px;
    padding: 10px;
  }
  .details {
    width: 100%;
    margin-top: 50px;
  }
  .btns {
    flex-direction: column;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
  }
}
